@model GPGDesign.Models.ContactModels.EmailFormModel

@{
    ViewData["Title"] = "GPG Design";
}

<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->
<!-- Page Wrap -->
<div class="page" id="top">

  
    <!-- Head Section -->
    <section class="page-section bg-dark-alfa-70 parallax-3" data-background="images/full-width-images/section-bg-25.jpg">
        <div class="relative container align-left">

            <div class="row">

                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Contact</h1>
                    <div class="hs-line-4 font-alt">
                        We’re always open to talk to good people
                    </div>
                </div>

                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt align-right">
                        <a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Pages</a>&nbsp;/&nbsp;<span>Contact</span>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Head Section -->
    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container relative">

            <div class="row mb-60 mb-xs-40">

                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <!-- Phone -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Call Us
                                </div>
                                <div class="ci-text">
                                    +359 885 888 555
                                </div>
                            </div>
                        </div>
                        <!-- End Phone -->
                        <!-- Address -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Address
                                </div>
                                <div class="ci-text">
                                    Byala Cherkva 1, Sofia
                                </div>
                            </div>
                        </div>
                        <!-- End Address -->
                        <!-- Email -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Email
                                </div>
                                <div class="ci-text">
                                    <a href="mailto:office@gpg-design.com">office@gpg-design.com</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Email -->

                    </div>
                </div>

            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <!-- Contact Form -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form contact-form" id="contact_form" method="post" action="SendEmail">
                            <div class="clearfix">

                                <div class="cf-left-col">
                                    <!-- Name -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FromName, new { @class = "input-md round form-control", placeholder = "Name", pattern = ".{3,100}" })
                                        @Html.ValidationMessageFor(m => m.FromName)
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "input-md round form-control", placeholder = "Email", pattern = ".{5,100}" })
                                        @Html.ValidationMessageFor(m => m.FromEmail)
                                    </div>

                                    <!-- Phone -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "input-md round form-control", placeholder = "Phone", pattern = ".{5,100}" })
                                        @Html.ValidationMessageFor(m => m.Phone)
                                    </div>

                                </div>

                                <div class="cf-right-col">

                                    <!-- Message -->
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Message, new { @class = "input-md round form-control", placeholder = "Message", pattern = ".{5,100}", style = "height: 131px;" })
                                        @Html.ValidationMessageFor(m => m.Message)
                                    </div>

                                </div>

                            </div>

                            <div class="clearfix">

                                <div class="cf-left-col">

                                    <!-- Inform Tip -->
                                    <div class="form-tip pt-20">
                                        <i class="fa fa-info-circle"></i> All the fields are required
                                    </div>

                                </div>

                                <div class="cf-right-col">

                                    <!-- Send Button -->
                                    <div class="align-right pt-10">
                                        <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn" value="Send">Submit Message</button>
                                        <input type="submit" class="btn btn-default" value="Send" />
                                    </div>

                                </div>

                            </div>



                            <div id="result"></div>
                        </form>

                    </div>
                </div>
                <!-- End Contact Form -->
            }
            </div>
    </section>
    <!-- End Contact Section -->
    <!-- Google Map -->
    <div class="google-map">

        <iframe src="https://maps.google.com/maps?q=%D0%92%D0%B0%D1%80%D0%BD%D0%B0%20%D0%9E%D0%BA%D0%BE%D0%BB%D1%87%D0%B8%D1%86%D0%B0%2017&t=&z=15&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        


    </div>
    <!-- End Google Map -->
    <!-- Foter -->
    <footer class="page-section bg-gray-lighter footer pb-60">
        <div class="container">

            <!-- Footer Logo -->
            <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                <a href="#top"><img src="images/logo-gpg.jpg" width="78" height="36" alt="" /></a>
            </div>
            <!-- End Footer Logo -->
            <!-- Social Links -->
            <div class="footer-social-links mb-110 mb-xs-60">
                <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>                                                               
            </div>
            <!-- End Social Links -->
            <!-- Footer Text -->
            <div class="footer-text">

                <!-- Copyright -->
                <div class="footer-copy font-alt">
                    <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; Rhythm 2017</a>.
                </div>
                <!-- End Copyright -->

                <div class="footer-made">
                    Made with love for great people.
                </div>

            </div>
            <!-- End Footer Text -->

        </div>


        <!-- Top Link -->
        <div class="local-scroll">
            <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
        </div>
        <!-- End Top Link -->

    </footer>
    <!-- End Foter -->


</div>
<!-- End Page Wrap -->