@model GPGDesign.Models.ContactModels.EmailFormModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer;
@{
    ViewData["Title"] = "Bulgarbuild";
}

<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->
<!-- Page Wrap -->
<div class="page" id="top">


    <!-- Head Section -->
    <section class="small-section bg-dark-lighter">
        <div class="relative container align-left mt-5">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">@ViewData["ContactLbl"]</h1>
                    <div class="hs-line-4 font-alt">
                        @ViewData["ContactTxt"]
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <!-- End Head Section -->
    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container relative">

            <div class="row mb-60 mb-xs-40">

                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <!-- Phone -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Call Us
                                </div>
                                <div class="ci-text">
                                    +359 895 443 060
                                </div>
                            </div>
                        </div>
                        <!-- End Phone -->
                        <!-- Address -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Address
                                </div>
                                <div class="ci-text">
                                    Mir 11, Gabrovo
                                </div>
                            </div>
                        </div>
                        <!-- End Address -->
                        <!-- Email -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Email
                                </div>
                                <div class="ci-text">
                                    <a href="mailto:info@bulgarbuild.bg">info@bulgarbuild.bg</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Email -->

                    </div>
                </div>

            </div>
            @using (Html.BeginForm("SendEmail", "Contact", FormMethod.Post))
            {
                <!-- Contact Form -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form contact-form" id="contact_form">
                            <div class="clearfix">

                                <div class="cf-left-col">
                                    <!-- Name -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FromName, new { @class = "input-md round form-control", @data_ng_required = "Name Required", placeholder = "Name", pattern = ".{3,100}" })
                                        @Html.ValidationMessageFor(m => m.FromName)
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "input-md round form-control", placeholder = "Email", pattern = ".{5,100}" })
                                        @Html.ValidationMessageFor(m => m.FromEmail)
                                    </div>

                                    <!-- Phone -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "input-md round form-control", placeholder = "Phone", pattern = ".{5,100}" })
                                        @Html.ValidationMessageFor(m => m.Phone)
                                    </div>

                                </div>

                                <div class="cf-right-col">

                                    <!-- Message -->
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Message, new { @class = "input-md round form-control", placeholder = "Message", pattern = ".{5,100}", style = "height: 131px;" })
                                        @Html.ValidationMessageFor(m => m.Message)
                                    </div>

                                </div>

                            </div>

                            <div class="clearfix">

                                <div class="cf-left-col">

                                    <!-- Inform Tip -->
                                    <div class="form-tip pt-20">
                                        <i class="fa fa-info-circle"></i> All the fields are required
                                    </div>

                                </div>

                                <div class="cf-right-col">

                                    <!-- Send Button -->
                                    <div class="align-right pt-10">
                                        <button class="submit_btn btn btn-mod btn-medium btn-round" id="submitButton" name="submitButton" value="Send">Submit Message</button>
                                    </div>

                                </div>

                            </div>



                            <div id="result"></div>
                        </div>

                    </div>
                </div>
                <!-- End Contact Form -->
            }
        </div>
    </section>
    <!-- End Contact Section -->
    <!-- Google Map -->
    <div class="google-map">

        <iframe src="https://www.google.com/maps/embed?origin=mfe&pb=!1m3!2m1!1z0JPQsNCx0YDQvtCy0L4sINGD0LsuINCc0LjRgCAxMQ!6i17" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



    </div>
    <!-- End Google Map -->
</div>
<!-- End Page Wrap -->