@model CategoryViewModel
@using System.Globalization
@{
    ViewData["Title"] = "GetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
<body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->
    <!-- Page Wrap -->
    <div class="page" id="top">
        <section class="small-section bg-dark-lighter">
            <div class="relative container align-left">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Gallery</h1>
                        <div class="hs-line-4 font-alt white">
                            @if (culture == "en")
                            {
                                @Model.EnName
                            }
                            else if (culture == "de")
                            {
                                @Model.DeName
                            }
                            else
                            {
                                @Model.BgName
                            }
                        </div>
                    </div>                   
                </div>
            </div>
        </section>
        <!-- End Head Section -->
        <!-- Section -->
        <section class="page-section">
            <div class="container relative">
                <!-- Photo Grid -->
                <div class="row multi-columns-row mb-30 mb-xs-10">
                    <!-- Photo Item -->
                    @using (Html.BeginForm("DeleteImages", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            <div class="col-md-3 col-lg-3 mb-md-10">
                                <div class="post-prev-img">
                                    <a href=@Model.Images[i].Src class="lightbox-gallery-2 mfp-image"><img src=@Model.Images[i].Src alt="" /></a>
                                    @if (!string.IsNullOrEmpty(Context.User.Identity.Name))
                                    {
                                        <div class="funkyradio">
                                            <div class="funkyradio-success">
                                                @Html.HiddenFor(m => Model.Images[i].Id)
                                                @Html.CheckBoxFor(m => Model.Images[i].IsSelected)
                                                @Html.LabelFor(m => Model.Images[i].IsSelected)
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(m => Model.Id)
                        @if (Model.Images.Count() > 0 && !string.IsNullOrEmpty(Context.User.Identity.Name))
                        {
                            <div class="col-md-12">
                                <button class="submit_btn btn btn-mod btn-medium btn-round" id="login-btn">Delete Selected</button>
                            </div>
                            <div class="col-md-12 delete-all">
                                <button class="btn btn-danger" id="delete_all">Delete All</button>
                            </div>
                        }
                    }
                    <!-- End Photo Item -->
                </div>
                <!-- End Photo Grid -->
                <div class="col-md-3">
                    @if (!string.IsNullOrEmpty(Context.User.Identity.Name))
                    {
                        @using (Html.BeginForm("UploadImages", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="content">
                                <div class="pt-10">
                                    <input type="file" name="files" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>Select Images&hellip;</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Id, new { type = "hidden", value = @Model.Id })
                                <div class="pt-10">
                                    <button class="submit_btn btn btn-mod btn-medium btn-round" id="login-btn">Upload</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
        <!-- End Section -->
    </div>
</body>

<script type="text/javascript">
    document.getElementById("delete_all").addEventListener("click", function () {
        var allInputs = document.getElementsByTagName("input");
        for (var i = 0, max = allInputs.length; i < max; i++) {
            if (allInputs[i].type === 'checkbox')
                allInputs[i].checked = true;
        }
    });
</script>
