@model ListCategoryViewModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = "GPG Design";

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

    var culture = CultureInfo.CurrentCulture.Name;
}

<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->
<!-- Page Wrap -->
<div class="page" id="top">

    <!-- Fullwidth Slider -->
    <div class="home-section fullwidth-slider bg-dark" id="home" data-ride="carousel" data-interval="500">
        @foreach (var image in ViewData["MainImages"] as IEnumerable<ImageViewModel>)
        {
            <section class="home-section bg-scroll bg-dark-alfa-30" data-background=@image.Src>
                <div class="js-height-full container">
                    <div class="home-content">
                        <div class="home-text">
                            <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                @ViewData["HomeMainLbl"]
                            </h1>
                            <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                @image.Description
                            </h2>
                            <div class="local-scroll">
                                @Html.ActionLink("See More", "GetById", "Category", new { id = image.CategoryId }, new { @class = "btn btn-mod btn-border-w btn-medium btn-round hidden-x" })
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
    <!-- End Fullwidth Slider -->

    <form asp-controller="Language" asp-action="SetLanguage" style="margin-top:20px;"
          asp-route-returnUrl="@Context.Request.Path"
          method="post" class="form-horizontal">
        <select name="culture" onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                asp-items="cultureItems"></select>
    </form>

    <!-- About Section -->
    <section class="page-section" id="about">
        <div class="container relative">
            <h2 class="section-title font-alt mb-70 mb-sm-40">
                @ViewData["AboutUsLabel"]
            </h2>
            <div class="section-text">
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/logo-gpg.jpg" alt="logo" />
                    </div>
                    <div class="col-md-5 col-sm-6 mb-sm-50 mb-xs-30">
                        @ViewData["AboutUsIntro"]
                    </div>
                    <div class="col-md-5 col-sm-6 mb-sm-50 mb-xs-30">
                        @ViewData["AboutUsNext"]
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <section class="page-section">
        <div class="container relative">
            <!-- Features Grid -->
            <div class="row alt-features-grid">
                <!-- Text Item -->
                <h2 class="section-title font-alt mb-70 mb-sm-40">
                    @ViewData["PhilosophyLabel"]
                </h2>
                <div class="col-sm-3">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-descr align-left">
                            @ViewData["Philosophy"]
                        </div>
                    </div>
                </div>
                <!-- End Text Item -->
                <!-- Features Item -->
                <div class="col-sm-3">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <span class="icon-chat"></span>
                        </div>
                        <h3 class="alt-features-title font-alt">1. @ViewData["Discuss"]</h3>
                    </div>
                </div>
                <!-- End Features Item -->
                <!-- Features Item -->
                <div class="col-sm-3">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <span class="icon-browser"></span>
                        </div>
                        <h3 class="alt-features-title font-alt">2. @ViewData["Make"]</h3>
                    </div>
                </div>
                <!-- End Features Item -->
                <!-- Features Item -->
                <div class="col-sm-3">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon">
                            <span class="icon-heart"></span>
                        </div>
                        <h3 class="alt-features-title font-alt">3. @ViewData["Product"]</h3>
                    </div>
                </div>
                <!-- End Features Item -->

            </div>
            <!-- End Features Grid -->

        </div>
    </section>
    <!-- End Process Section -->
    <!-- Features Section -->
    <section class="page-section">
        <div class="container relative">

            <h2 class="section-title font-alt mb-70 mb-sm-40">
                @ViewData["HomeWeOffer"]
            </h2>

            <!-- Features Grid -->
            <div class="row multi-columns-row alt-features-grid">
                @foreach (var cat in Model.AllCategories)
                {
                    var categoryName = string.Empty;
                    var categoryDescription = string.Empty;

                    @if (culture == "en")
                    {
                        categoryName = cat.EnName;
                        categoryDescription = cat.EnDescription;
                    }
                    else if (culture == "de")
                    {
                        categoryName = cat.DeName;
                        categoryDescription = cat.DeDescription;
                    }
                    else
                    {
                        categoryName = cat.BgName;
                        categoryDescription = cat.BgDescription;
                    }

                    <!-- Features Item -->
                    <a asp-controller="Category"
                       asp-action="GetById"
                       asp-route-id="@cat.Id">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <img src=@cat.Thumbnail style="height:120px; width:120px;" alt="" />
                                </div>
                                <h3 class="alt-features-title font-alt">@categoryName</h3>
                                <div class="alt-features-descr align-center">
                                    @categoryDescription
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Features Item -->
                }


            </div>
            <!-- End Features Grid -->

        </div>
    </section>
</div>

<script type="text/javascript" src="~/js/jquery-1.11.2.min.js"></script>
<script>
    if ($(".main-nav").hasClass("transparent")) {
        $(".main-nav").removeClass("transparent");
    }
</script>
